.home {
    height: 100vh;
    display: block;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &:after {
        content: '';
        background: url('/assets/img/public/banner.jpg');
        background-size: cover;
        opacity: 0.7;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
    }
    .content {
        z-index: 2;
        width: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: $white;
        padding: 30px 50px;
        border-radius: 30px;
        &:hover {
            h1 {
                sup {
                    color: $primary !important;
                }
            }
        }
        .top {
            img {
                border-radius: 50%;
                box-shadow: 0 0 20px -4px $black4;
                transition: .3s;
                &:hover {
                    box-shadow: 0 0 20px 0px $black;
                }
            }
        }
        .bottom {
            padding-top: 10px;
            .name {
                sup {
                    transition: color .3s;
                }
            }
            .job-title {
                color: $primary;
            }
            .social {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: space-between;
                li {
                    a {
                        background: $secondary;
                        color: $white;
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        transition: background .3s;
                        &:hover {
                            background: $secondaryDark;
                        }
                    }
                }
            }
        }
        @include breakpoint(xs) {
            padding: 30px 20px;
            .bottom {
                .name {
                    font-size: 26px;
                }
                .job-title {
                    font-size: 14px;
                }
                .social {
                    li {
                        margin: 3px;
                    }
                }
            }
        }
    }
}

.about {
    .tables {
        width: 100%;
        display: flex;
        justify-content: space-between;
        table {
            flex: 1;
            width: 100%;
            margin: 10px;
            thead {
                th {
                    padding: 5px 0;
                    margin-bottom: 5px;
                    border-bottom: 1px solid $primary;
                }
            }
            tbody {
                tr {
                    td {
                        padding: 5px 8px;
                        &:first-child {
                            font-weight: bold;
                            width: 50%;
                        }
                    }
                }
            }
        }
        @include breakpoint(xs) {
            flex-direction: column;
        }
    }
}

.timeline {
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    margin: 20px 0;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background: $white;
    }
    .time {
        padding: 0 20px;
        margin-bottom: 30px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -9px;
            height: 20px;
            width: 20px;
            transform: translateY(-50%);
            border-radius: 50%;
            background: $white;
        }

        &:first-child {
            &::before {
                transform: unset;
                top: 0 !important;
            }
        }

        &:last-child {
            margin: 0 !important;
            &::before {
                transform: unset;
                top: unset !important;
                bottom: 0 !important;
            }
        }
        
        .date {
            width: auto;
            padding: 2px 12px;
            border-radius: 4px;
            background: $white;
            color: $black4;
            display: inline-block;
            margin: 5px 0;
            font-size: small;
            color: $primary;
        }

        h5 {
            font-size: 14px;
            color: $black2;
            padding: 5px 2px;
        }
    }
}

.portfolio {
    .timeline {
        &::before {
            background: $black4;
        }
        .time {
            &::before {
                background: $black4;
            }
            .date {
                background: $black4;
                color: $white;
            }
        }
    }
}

.other-info {
    @include breakpoint(xs) {
        .flex {
            display: inline-block !important;
            width: 100%;
            .ml-2,
            .mr-2 {
                margin: 0 !important;
            }
        }
    }
}

.box-group {
    width: 100%;
    h4 {
        padding: 10px 0 !important;
        margin-bottom: 10px !important;
        display: block;
        border-bottom: 1px solid $white;
        font-weight: bold;
    }
    .box {
        padding: 10px 0;
        h6 {
            font-size: 14px;
        }
        .bar-container {
            height: 5px;
            background: rgba(255,255,255,0.4);
            border-radius: 5px;
            margin: 5px 0;
            position: relative;
            overflow: hidden;
            .bar {
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: $white;
            }
        }
    }
}

.column-container {
    width: 100%;
    padding: 5px 10px;
    grid-column-gap: 5px;
    column-gap: 5px;
    column-count: 4;
    .column {
        border-radius: 10px;
        display: inline-block;
        -webkit-column-break-inside: avoid;
        background: #f9f9f9;
        color: $black4;
        width: 100%;
        position: relative;
        overflow: hidden;
        border: 1px solid $white3;
        .top {
            margin: 0;
            padding: 0;
            img {
                width: 100%;
                height: auto;
            }
        }
        .bottom {
            h6 {
                padding-top: 10px !important;
                display: inline-block;
            }
            p {
                padding: 10px;
                font-size: 14px;
            }
            a {
                width: 100%;
                padding: 8px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $primary;
                color: $white;
                text-decoration: none;
                transition: .3s;
                border-radius: 0 0 10px 10px;
                &:hover {
                    opacity: 0.8;
                }
            }
        }     
    }
    @include breakpoint(xs) {
        column-count: 1;
    }
}