//#region colors

$primary: #1fa5ff;
$primaryDark: #1053ff;
$secondary: #fc6767; 
$secondaryDark: #f74848; 

$white: #fff;
$white1: #eee;
$white2: #ddd;
$white3: #ccc;
$white4: #bbb;

$gray: #aaa;
$gray1: #999;
$gray2: #888;
$gray3: #777;
$gray4: #666;
$gray5: #555;

$black: #000;
$black1: #111;
$black2: #222;
$black3: #333;
$black4: #444;

//#endregion


//#region sizes

$menuHeight: 80px;
$logoHeight: 60px;

//#endregion